{% extends '../layout.html.twig' %}
{% block bodyContent %}
<div class="text-center">
	<div class="nice-container navigate null-bottom-padding">
		<h1>{{ 'Database Configuration' | translate }}</h1>
		<hr />
		{% if error %}
		<div class="alert alert-error">
			<b>{{ 'Error' | trans }}</b> {{ error | trans }}
		</div>
		{% endif %}
		<div class="row-fluid">
			<form class="form-horizontal" method="POST" action="{{ concat('/install/step/', nextStep) | path }}">
			  <div class="control-group">
			    <label class="control-label" for="host">{{ 'Host' | trans }}</label>
			    <div class="controls">
			      <input required type="text" id="host" name="host" placeholder="{{ 'Host' | trans }}" value="{{ request.getParameter('host') }}" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="port">{{ 'Port' | trans }}</label>
			    <div class="controls">
			      <input type="text" id="port" name="port" placeholder="{{ 'Port' | trans }}" value="{{ request.getParameter('port') }}" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="user">{{ 'Username' | trans }}</label>
			    <div class="controls">
			      <input required type="text" id="user" name="username" placeholder="{{ 'Username' | trans }}" value="{{ request.getParameter('username') }}" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="password">{{ 'Password' | trans }}</label>
			    <div class="controls">
			      <input type="password" id="password" name="password" placeholder="{{ 'Password' | trans }}" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="schema">{{ 'Schema' | trans }}</label>
			    <div class="controls">
			      <input required type="text" id="schema" name="schema" placeholder="{{ 'Schema' | trans }}" value="{{ request.getParameter('schema') }}" />
			    </div>
			  </div>
			  <hr />
			  <div class="parent">
			  	<button type="submit" class="pull-right btn btn-large btn-primary">Check Database Connection &amp; Step Forward</button>
			  </div>
			  <div class="clear"></div>
			</form>
		</div>
		
	</div>
</div>
<div class="vertical-space"></div>
{% endblock %}